body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    margin-bottom: 20px;
    text-align: center;
}
/* Styles for Core Science section */
#core-science h2 {
    color: #fff; /* White text color */
    background-color: #333; /* Blue banner color */
    padding: 10px 20px; /* Padding for the banner */
}

/* Styles for Technology Branch section */
#technology-branch h2 {
    color: #fff; /* White text color */
    background-color: #333; /* Green banner color */
    padding: 10px 20px; /* Padding for the banner */
}

/* Styles for Technical Blueprint section */
#technical-blueprint h2 {
    color: #fff; /* White text color */
    background-color: #333; /* Red banner color */
    padding: 10px 20px; /* Padding for the banner */
}

/* Styles for General Points section */
#general-points h2 {
    color: #fff; /* White text color */
    background-color: #ffc107; /* Yellow banner color */
    padding: 10px 20px; /* Padding for the banner */
}

/* Styles for Missions section */
#missions h2 {
    color: #fff; /* White text color */
    background-color: #6c757d; /* Gray banner color */
    padding: 10px 20px; /* Padding for the banner */
}

ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
}

li {
    margin-bottom: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
