:root {
    --button-color-light: black;
    --button-color-dark: white;
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #353cff;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center; /* Center align items horizontally */
    align-items: center; /* Center align items vertically */
}

h1 {
    margin: 0 auto 0 0; /* Set right margin to auto to push the heading to the left */
}



h1 {
    margin: 0;
}




section {
    border-bottom: 2px solid #000000;
    margin-bottom: 20px;
    text-align: center;
}

#dark-mode-toggle {
    margin-left: 10px; /* Adjust the spacing between the button and the heading */
    padding: 10px 20px; /* Add padding to the button */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    background-color: var(--button-color-light); /* Default button color in light mode */
    color: #fff; /* Set button text color */
}

.dark-mode #dark-mode-toggle {
    background-color: var(--button-color-dark); /* Button color in dark mode */
}

#dark-mode-toggle:hover {
    background-color: #85c1c8; /* Darken button color on hover */
}

.container {
    margin: 0 20px; /* Add margin on the left and right sides of the screen */
}

main {
    max-width: 800px; /* Adjust max-width as needed */
    margin: 20px auto; /* Center the content horizontally and add top and bottom margin */
    padding: 20px; /* Add padding around the content */
    border: 2px solid  #007bff; /* Add border around the main section */
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    background-color: #f8f9fa; /* Add background color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

/* Styles for Core Science section */
#core-science h2 {
    color: #fff; /* White text color */
    background-color: #007bff; /* Blue banner color */
    padding: 10px 20px; /* Padding for the banner */
}

/* Styles for Technology Branch section */
#technology-branch h2 {
    color: #fff; /* White text color */
    background-color: #007bff; /* Blue banner color */
    padding: 10px 20px; /* Padding for the banner */
}

/* Styles for Technical Blueprint section */
#technical-blueprint h2 {
    color: #fff; /* White text color */
    background-color: #007bff; /* Blue banner color */
    padding: 10px 20px; /* Padding for the banner */
}

/* Styles for General Points section */
#general-points h2 {
    color: #fff; /* White text color */
    background-color: #007bff; /* Blue banner color */
    padding: 10px 20px; /* Padding for the banner */
}

/* Styles for Missions section */
#missions h2 {
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding for the banner */
    background-color: #007bff; /* Blue banner color */
}

ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
}

li {
    margin-bottom: 5px;
}


.dark-mode {
    background-color: #111;
    color: #fff;
}

.dark-mode header {
    background-color: #222;
}

.dark-mode h1 {
    color: #fff;
}
.dark-mode main {
    background-color: #222;
    border-color: #007bff;
    color: #fff;
}
.dark-mode section{
    border-bottom: 2px solid #ffffff;
}


.skill-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.upper-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.lower-part {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
}

.lower-part button {
    margin: 0 5px; /* Add some space between the buttons */
}

